/* FORM CSS */
#gtasks-create-task-form .form-actions,
#gtasks-create-task-form .form-type-textfield {
  float: left;
}
#gtasks-create-task-form .form-actions {
  margin-left: 15px;
}
#gtasks-create-task-form .form-actions input[type="submit"] {
  margin-top: 0px;
}

/* TASKS CONTAINER CSS */
#gtasks-list-container {
  
}
#gtasks-list-container .item-list {
  float: left;
  width: 50%;
}
#gtasks-list-container ul {
  padding-left: 1em; 
}
#gtasks-list-container li {
  list-style: none;
}
